{% extends 'layout/base.html' %}
{% load static %}
{% block content %}



<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container ">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/about-img.png'%}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 style="
              
              font-size: 35px;
              font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
              text-align: center;  ">
                ABOUT OUR BOOKBUDDIES
              </h2>
            </div>
            <p>
              Welcome to BookBuddies, your ultimate destination for discovering, exploring, and enjoying books across all genres. Whether you're an avid reader, a casual book lover, or someone looking for the perfect gift, we've got something for everyone.

              At BookBuddies, we believe that books have the power to transport, educate, and inspire. Our carefully curated collection offers the latest bestsellers, timeless classics, and hidden gems, ensuring there's always something to ignite your passion for reading.
              
              With our easy-to-use platform, you can browse, purchase, and add your favorite titles to your wishlist or cart for a seamless shopping experience. Plus, our personalized recommendations and wishlist features make it easier to keep track of the books you’ve been dreaming of.
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- info section -->

  
  <!-- End Google Map -->

</body>

</html>
{% endblock %}