{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="container mt-5">
        <h2 class="text-center" style="margin-top: 20px;text-align: center;font-size: 35px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;  ">ADD BOOKS</h2>
        <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
            <div class="mb-3">
                {{ form.author.label_tag }}
                {{ form.author }}
            </div>
            <div class="mb-3">
                {{ form.price.label_tag }}
                {{ form.price }}
            </div>
            <div class="mb-3">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="mb-3">
                {{ form.cover_pic.label_tag }}
                {{ form.cover_pic }}
            </div>
            <div class="mb-3">
                {{ form.book_file.label_tag }}
                {{ form.book_file }}
            </div>
            <div class="mb-3">
                {{ form.genres.label_tag }}
                {{ form.genres }}
            </div>
            <button type="submit" class="btn btn-primary w-98" style="width: 300px;background-color: #333333;">Add Book</button>
        </form>
    </div>
    
</body>

{% endblock %}