{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<style>
   
.button-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.btn {
    padding: 10px 20px; 
    background-color: #007bff;
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #0056b3;
}

</style>
<body>
    <div class="container" style="padding: 20px; max-width: 800px; margin: auto;">
        <h1 style="font-family: 'Times New Roman', Times, serif;">{{ book.title }}</h1>
        {% if book.cover_pic %}
            <img src="{{ book.cover_pic.url }}" alt="{{ book.title }}" style="width: 100%; max-width: 1500px; margin: 20px 0; border-radius: 8px;">
        {% endif %}
        <p style="font-family: 'Times New Roman', Times, serif;font-weight: bold;font-size: 18px;">{{ book.description }}</p>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: 20px;">Author:{{ book.author }}</p>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: 20px;">Price:{{ book.price }}</p>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: 20px;">Genre:{{book.genres}}</p>
        
        <div>

            <div>
                {% with book.avg_rating as rating %}
                    {% for i in "12345"|make_list %}
                        {% if forloop.counter <= rating %}
                            <span style="color: gold;">&#9733;</span>  <!-- Full star -->
                        {% elif forloop.counter|add:0.5 <= rating %}
                            <span style="color: gold;">&#9734;&#9733;</span>  <!-- Half star -->
                        {% else %}
                            <span>&#9734;</span>  <!-- Empty star -->
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
        <p> {{ book.avg_rating }}</p>  <!-- rating in avg as numbers is displayed here -->
        <!-- <a href="{% url 'blog' %}" style="text-decoration: none; color: #007bff;">Back to Blog List</a> -->
        <div class="button-container">
            {% if request.user.is_authenticated %}
            <a href="{% url 'purchase-options' book.pk %}" class="btn edit-button" style="background-color: #333333;width: 75px;height: 40px;">Next</a>
            <a href="{% url 'rate' book.pk %}" class="btn edit-button" style="background-color: #333333;width: 75px;height: 40px;">Rate</a>
            {% endif %}
           
        {% if request.user.is_superuser %}
        <a href="{% url 'book_edit' book.id %}" class="btn edit-button" style="background-color: #333333;width: 75px;height: 40px;">Edit</a>
        <a href="{% url 'book_delete' book.id %}" class="btn btn-danger" style="background-color: #333333;width: 75px;height: 40px;">Delete</a>
        {% endif %}
        </div>
    </div>
</body>
{% endblock %}
